# =========================
# Python
# =========================

__pycache__/
*.py[cod]

.venv/
venv/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Database
# =========================

*.db
*.sqlite
*.sqlite3

# =========================
# Node / React
# =========================

node_modules/
frontend/dist/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db